<launch>
  <node pkg="rosserial_python" type="serial_node.py" name="stm32_serial" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="921600"/>
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odom" output="screen">
    <rosparam command="load" file="$(find field_robot_base)/config/ekf_localization.yaml"/>
  </node>
</launch>




