<launch>
  <arg name="map_file" default="$(find field_robot_slam)/maps/farm_map.yaml"/>
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)"/>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <param name="use_map_topic" value="true"/>
  </node>
  <include file="$(find field_robot_nav)/launch/move_base_teb.launch"/>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find field_robot_slam)/rviz/slam_nav.rviz"/>
</launch>
